[submodule "glm"]
	path = Tephryte/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "ImGui"]
	path = Tephryte/vendor/ImGui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "glfw"]
	path = Tephryte/vendor/glfw
	url = https://github.com/glfw/glfw.git
